    
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
	--clr-heading: #1b1b1b;
	--clr-body: #14212B;
	--clr-bg: #F5FBFF;
	--clr-def: #FF4A17;
	--clr-def-2: #FF8183;
	--clr-white: #fff;
	--clr-black: #000;
	--font-1: 'Roboto', sans-serif;
	--font-2: 'Poppins', sans-serif;
	--rad-1: 4px;
    --clr-1:#E3F3FF;
    --clr-2:#209FA3;
    --clr-3:#FF8183;
    --clr-4:#FAC388;
}


	
	

